{
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"airbnb",
		"plugin:prettier/recommended",
		"prettier",
		"prettier/react"
	],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"node": true
	},
	"plugins": ["react", "react-hooks", "prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"tabWidth": 2
			}
		],
		"react/react-in-jsx-scope": 0,
		"react/prefer-stateless-function": 0,
		"react/jsx-filename-extension": 0,
		"react/jsx-one-expression-per-line": 0,
		"react/require-default-props": 0,
		"no-nested-ternary": 0,
		"jsx-a11y/label-has-associated-control": "off",
		"jsx-a11y/anchor-is-valid": "off",
		"no-console": "off",
		"no-underscore-dangle": "off",
		"linebreak-style": "off",
		"no-param-reassign": 0
	},
	"settings": {
		"import/resolver": {
			"node": {
				"moduleDirectory": ["node_modules", "src/"]
			}
		}
	}
}
